Finished <a href="{settings.frontendUrl}#/project/{surfCaptainDeployment.repositoryIdentifier}/deployment/{deployment.name}">Deployment</a>

<f:if condition="{surfCaptainDeployment.repositoryUrl}">
	of {surfCaptainDeployment.repositoryIdentifier}
</f:if>

with "{surfCaptainDeployment.status}":

<br />

<f:for each="{deployment.nodes}" as="node">
	Server:
	<a href="http://{node.hostname}">{node.hostname}</a>
	|
</f:for>

<f:if condition="{surfCaptainDeployment.referenceName}">
	{surfCaptainDeployment.referenceName}
	|
</f:if>

<f:if condition="{surfCaptainDeployment.type}">
	Type:
	{surfCaptainDeployment.type}
</f:if>